image:
  repository: "gotenberg/gotenberg"
  tag: "8.25.1@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b"

ports:
  - name: main
    containerPort: 3000

health:
  path: /health

command:
  - "gotenberg"

args:
  - "--chromium-disable-javascript=true"
  - "--chromium-allow-list=file:///tmp/.*"
