image:
  repository: "gotenberg/gotenberg"
  tag: "8.26.0@sha256:328551506b3dec3ff6381dd47e5cd72a44def97506908269e201a8fbfa1c12c0"

ports:
  - name: main
    containerPort: 3000

health:
  path: /health

command:
  - "gotenberg"

args:
  - "--chromium-disable-javascript=true"
  - "--chromium-allow-list=file:///tmp/.*"
