apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- base/sealedsecret.yaml

helmCharts:
- repo: https://kubernetes-sigs.github.io/external-dns
  name: external-dns
  version: 1.15.0
  releaseName: external-dns-public
  valuesFile: values.yaml
  namespace: network
  includeCRDs: false # installed by private release
