apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- repo: https://jameswynn.github.io/helm-charts
  name: homepage
  version: 2.0.1
  releaseName: homepage
  valuesFile: values.yaml
  namespace: tools
