image:
  repository: "ghcr.io/gethomepage/homepage"
  tag: "v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb"

config:
  bookmarks: {}
  kubernetes:
    mode: cluster
    gateway: true
  services:
    - "Smart Home":
        - "Home Assistant":
            description: Smart Home
            href: http://ha.wagner.gg
            icon: home-assistant.svg
            weight: 1
        - Valetudo:
            description: Robotic Vacuum
            href: http://192.168.0.11
            icon: valetudo.svg
            weight: 5
    - Network:
        - Unifi Gateway:
            description: Firewall
            href: https://192.168.0.1/network/default/dashboard
            icon: unifi.svg
            weight: 1
        - AdGuard Home:
            description: DNS Server
            href: http://192.168.0.2
            icon: adguard-home.svg
            weight: 2
    - Server:
        - Portainer:
            description: Pi Container Management
            href: https://192.168.0.2:9443
            icon: portainer.svg
            weight: 30
    - Media:
        - Plex:
            app: plex
            description: Media Center
            href: https://app.plex.tv/desktop
            icon: plex.svg
            namespace: media
            weight: 5
  settings:
    color: neutral
    hideVersion: true
    iconStyle: theme
    layout:
      - Cloud:
          icon: mdi-cloud
      - Organization:
          icon: mdi-file-document-multiple-outline
      - Smart Home:
          icon: mdi-home-outline
      - Network:
          icon: mdi-lan
      - Media:
          icon: mdi-filmstrip-box
      - Indexer:
          icon: mdi-download-multiple
      - Downloader:
          icon: mdi-download-outline
      - Server:
          icon: mdi-server
    target: _self
    theme: dark
    title: Homelab
  widgets:
    - search:
        provider: google
        target: _blank

enableRbac: true

extraClusterRoles:
  - apiGroups:
      - gateway.networking.k8s.io
    resources:
      - httproutes
      - gateways
    verbs:
      - get
      - list

serviceAccount:
  create: true

env:
  - name: HOMEPAGE_ALLOWED_HOSTS
    value: home.wagner.gg
