image:
  repository: "tomsquest/docker-radicale"
  tag: "3.5.8.2@sha256:47550b865f261a30f9f6f3703e2f2ecd109aaa0ca47a0ea4634156c89003ec1b"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/radicale-config
    containerPath: /config
  - name: data
    hostPath: /srv/nvme/container-data/radicale-data
    containerPath: /data

ports:
  - name: main
    containerPort: 5232

gateway:
  host: radicale.wagner.gg
  public: true

homepage:
  name: Radicale
  group: Organization
  description: Lightweight CalDAV+CardDAV server
  icon: radicale.png
  weight: 30
