image:
  repository: "tomsquest/docker-radicale"
  tag: "3.5.9.0@sha256:b833f12e7fe02ef5fcb841bf331785b865325924c22e375b34279b96b29cf7b6"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/radicale-config
    containerPath: /config
  - name: data
    hostPath: /srv/nvme/container-data/radicale-data
    containerPath: /data

ports:
  - name: main
    containerPort: 5232

gateway:
  host: radicale.wagner.gg
  public: true

homepage:
  name: Radicale
  group: Organization
  description: Lightweight CalDAV+CardDAV server
  icon: radicale.png
  weight: 30
