image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: ""

serviceAccount:
  annotations: {}

podLabels: {}
podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

hostNetwork: false

ports: []
# - name: ""
#   containerPort: 0
#   protocol: TCP

service:
  type: ClusterIP
  externalTrafficPolicy: ""
  loadBalancerIP: ""
  loadBalancerClass: ""

health:
  enabled: true
  startupProbeSeconds: 60
  port: main
  type: HTTP
  path: /

gateway:
  host: ""
  path: /
  public: false
  publicPath: /
  port: main
  publicRules: {}

oidc:
  clientId: ""
  clientSecret: ""

replicas: 1
strategyType: Recreate

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

terminationGracePeriodSeconds: 30

command: []

args: []

envs: []

secretEnvs: []

configMaps: []
# - name: ""
#   defaultMode: 0644
#   mountPath: ""
#   subPath: ""
#   content: ""

hostPaths: []
# - name: ""
#   hostPath: ""
#   containerPath: ""
#   readOnly: false
#   type: "DirectoryOrCreate"

emptyDirs: []

# - name: ""
#   containerPath: ""

initContainers: []

envsubst:
  image:
    repository: ghcr.io/skaronator/envsubst
    tag: "latest@sha256:372cf36d3d7c7ac06517aa4012fe7c19836e9c62ee3a4fe8e39e7423c49a4b15"
  files: []
  # - src:
  #   dest:

database:
  enabled: false
  resources: {}
  hostPath: ""
  rootPassword: ""
  userPassword: ""
  type: mariadb
  mariadb:
    image:
      repository: mariadb
      tag: "12.0.2@sha256:5b6a1eac15b85b981a61afb89aea2a22bf76b5f58809d05f0bcc13ab6ec44cb8"
    backup:
      schedule: "0 4 * * *"
      image:
        repository: fradelg/mysql-cron-backup
        tag: "latest@sha256:d9b9b1514ef5f879031ea88c656c0b64acb98bb787f401c2fc3f62ed6fafb308"
  postgresql:
    image:
      repository: postgres
      tag: "17.6@sha256:00bc86618629af00d2937fdc5a5d63db3ff8450acf52f0636ec813c7f4902929"
    backup:
      schedule: "0 4 * * *"
      image:
        repository: prodrigestivill/postgres-backup-local
        tag: "17@sha256:e803bd9eb4bfb42e9b3e74ba411227f3d55da292905800395659cc579b6641e8"

helper:
  image:
    repository: busybox
    tag: "1.37.0@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee"

wait4x:
  image:
    repository: wait4x/wait4x
    tag: "3.6.0@sha256:bec7ac18547781d854562c3729d3195c3880116d6758c49fdf4573ad58805f14"

homepage:
  name: ""
  description: ""
  group: ""
  icon: ""
  weight: 50
  widgetType: ""
