image:
  repository: "ghcr.io/skaronator/zrepl"
  tag: "main@sha256:653ced9248936e8e5c82bc5bbe6c2485f9de541c79534f50c135e82cebc8c5b0"

securityContext:
  privileged: true
  capabilities:
    add:
      - SYS_ADMIN

configMaps:
  - name: config
    mountPath: /etc/zrepl
    subPath: zrepl.yml
    content:
      global:
        logging:
          - format: human
            level: info
            type: stdout
      jobs:
        - filesystems:
            zroot<: true
            # backup everything from hdd
            hdd<: true
            # except root and backup
            hdd: false
            hdd/backup: false
            # backup everything from nvme
            nvme<: true
            # except root and scrap-data
            nvme: false
            nvme/scrap-data: false
          name: longterm
          pruning:
            keep:
              - grid: 1x24h(keep=all) | 14x1d | 3x30d
                regex: ^longterm_.*$
                type: grid
          snapshotting:
            cron: 0 * * * *
            prefix: longterm_
            type: cron
          type: snap
        - filesystems:
            # Backup everything from downloads
            downloads<: true
            # except root volume
            downloads: false
            hdd/backup: true
            nvme/scrap-data: true
          name: shortterm
          pruning:
            keep:
              - grid: 1x24h(keep=all) | 3x1d
                regex: ^shortterm_.*$
                type: grid
          snapshotting:
            cron: 0 * * * *
            prefix: shortterm_
            type: cron
          type: snap
