image:
  repository: "ghcr.io/tofran/restic-rclone"
  pullPolicy: IfNotPresent
  tag: "0.18.1_master@sha256:78288d377e2a010875e656cc388c662713a1ca64d35aedae7722e3cbe8e39554"

terminationGracePeriodSeconds: 60

concurrencyPolicy: Forbid
parallelism: 1
successfulJobsHistoryLimit: 1
failedJobsHistoryLimit: 2
restartPolicy: OnFailure
backoffLimit: 1

restic:
  mode: backup # init or restore
  uploadSpeed: 3000
  path: ""
  exclude: []
  iexclude: []

keep:
  daily: 30
  monthly: 3

schedule:
  backup: ""
  cleanup: ""
