apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-demo
provisioner: nfs.csi.k8s.io
parameters:
  server: 192.168.0.5
  share: /srv/nvme/nfs-test
  subDir: ${pvc.metadata.namespace}-${pvc.metadata.name}
  mountPermissions: "0"
reclaimPolicy: Retain
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-root
provisioner: nfs.csi.k8s.io
parameters:
  server: 192.168.0.5
  share: /srv/nvme/nfs-test
  subDir: /
  mountPermissions: "0"
reclaimPolicy: Retain
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
