apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ops

helmCharts:
- name: argocd-apps
  version: 2.0.1
  releaseName: argocd-apps
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml
  namespace: ops
