image:
  repository: "ghcr.io/immich-app/immich-server"
  tag: "v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a"

hostPaths:
  - name: data
    hostPath: /srv/nvme/container-data/immich-data
    containerPath: /data

ports:
  - name: main
    containerPort: 2283

gateway:
  host: immich.wagner.gg
  public: true

health:
  path: /api/server/ping

homepage:
  name: Immich
  group: Organization
  description: Image Server
  icon: immich
  weight: 1

database:
  enabled: true
  hostPath: /srv/nvme/container-data/immich-db
  rootPassword: AgAfWvyaKizdPTpf8ldjbZbwPSemeNP/ADsd33sUAtez/12UKkQ2KI476glST72mo18QzlHTDrE1lQCBJjUPOXrfKLuBc0b7z/4zFLK1pMggIxBBpxrEr142uNStgJGRgTjr3v+E2YSdiHaNuVyXczjzOIrWT0G4WWS9nY/do6ZRDnI4nKq5uelNeUECJ0H6tgv7SX2WpFn67BhNeahksCAmzWkCwwRWONgGPmS5+grQZeZqrozU90ikyulbry+qRR62J3job0zoY/a0c5duZbI5yJKYY5pHqrkdnYF3RvGrjg/aYTbU/UyY0fIrbAmJqMvGcygyiMlEYEX+VmoHyi3IQ+EFxVh/vQi2Bc6nTdyfhw1rWSVz7a5A3Ts2GBoJZ1pOFsJUXP1wzcgs3VVWjx8MtswZu8+Ubje3oftc/CU+s4xGQfzWPSAnAYQIfzHzzipgbwpulZWRsRezuBPutJxrf5Py84hzmSd3YxQp1+aYGvPkxptV3aQo3t79RW2FVkqkmBJeBm7W5oploxkCw4kML8p0CS57IP/YeOfH052SKCYR1v60vgT2GSZTrYvNY4BRf7Lge71cdioE6qLwbdAWPkpAL/AKfhM/CQ9aZZ/hCZ+VUwXRwznRDxMVatjd2NwmKEM/AE4TlZJ3xNnmlOtnCSDnwQnhjdSozZMv7KX5+KKpDAW+NclkesJzMJuzY/YeC7YlajwJq68bPn3OOXbwtgL8ohU08LFti8jJHAs=
  type: postgresql
  postgresql:
    image:
      repository: ghcr.io/immich-app/postgres
      tag: "17-vectorchord0.4.3-pgvectors0.3.0@sha256:6b725ce331a1db016c75ca13e4cfc35435718f3fe975ff75a9c11debebbe21d7"

envsubst:
  files:
    - src: /config/config.yaml
      dest: /envsubst/config.yaml

envs:
  - DB_HOSTNAME: $(TEMPLATE_DB_HOST)
  - DB_PORT: $(TEMPLATE_DB_PORT)
  - DB_DATABASE_NAME: $(TEMPLATE_DB_DATABASE)
  - DB_USERNAME: $(TEMPLATE_DB_USERNAME)
  - DB_PASSWORD: $(TEMPLATE_DB_PASSWORD)
  - REDIS_HOSTNAME: immich-redis
  - REDIS_PORT: 6379
  - IMMICH_CONFIG_FILE: /envsubst/config.yaml

secretEnvs:
  - MAIL_FROM: AgAoKYtSwS9CKLbr7KgboHvcMhACYPRy5MgD2MkZFMxQeLOJEKIROmMhwtMD59ZI4/3INTTLOnpXJZBBuoLh6gJqajylcwgb+jV9dYphp7byFqhQALiAad5MtmRkHT6bkXolaeR27EGG/qVNOPDwFfvF42xibygm1Xzwqbuav/P9CHIhrpFeDUe1VMrLupSGIJfOOnw94GzJ9PE84wxTSJtEkwRNg4B+8gw2dLIebVKrs1aHGIqQnrLeBPexNscCdurxhqSZthwgiGZYDIidqHJK8Jx47LADENqmjG3PLKH4B8WTVbialWaSxfXBKRfgCNNSzpn2KA7GUdA0it6igqWvIWhK46C7cs2/a/9FEG0dDEYN3SLuQZXdHdAiXeJlmUTJ15Y5riJwrXRGjXUSyzZUCvz/S5jBuE9GE27ie0uuG8IbKRfmjbXBooJDkIB6rUDwVsbAVwFFGRQkY5ImmH38VyEpkpBM6vf2hT6RXWpopnFVmtjhTT8ATjQBz9E48nTKcWJ1Co+qMCi9t/hQJPcvScNVY34yVvvczxhbBrewbDpJzQRl/fNAq7Grx32PKZj/0iRIR6EkmDbubRZHO+ROH5u4HeT2Pm2Iw/PUpm7ZeFT+Ddbxl4Qn8od3MspwkFADgCYdDdM+XDndwApmxnVhOWr3l+WnPg5ms4zcqva2v9AJAkx9P7VeVrEZn3RDBHt/IVNxeAGX0LML+PGPr5HUcAc=
  - MAIL_USERNAME: AgAoKYtSwS9CKLbr7KgboHvcMhACYPRy5MgD2MkZFMxQeLOJEKIROmMhwtMD59ZI4/3INTTLOnpXJZBBuoLh6gJqajylcwgb+jV9dYphp7byFqhQALiAad5MtmRkHT6bkXolaeR27EGG/qVNOPDwFfvF42xibygm1Xzwqbuav/P9CHIhrpFeDUe1VMrLupSGIJfOOnw94GzJ9PE84wxTSJtEkwRNg4B+8gw2dLIebVKrs1aHGIqQnrLeBPexNscCdurxhqSZthwgiGZYDIidqHJK8Jx47LADENqmjG3PLKH4B8WTVbialWaSxfXBKRfgCNNSzpn2KA7GUdA0it6igqWvIWhK46C7cs2/a/9FEG0dDEYN3SLuQZXdHdAiXeJlmUTJ15Y5riJwrXRGjXUSyzZUCvz/S5jBuE9GE27ie0uuG8IbKRfmjbXBooJDkIB6rUDwVsbAVwFFGRQkY5ImmH38VyEpkpBM6vf2hT6RXWpopnFVmtjhTT8ATjQBz9E48nTKcWJ1Co+qMCi9t/hQJPcvScNVY34yVvvczxhbBrewbDpJzQRl/fNAq7Grx32PKZj/0iRIR6EkmDbubRZHO+ROH5u4HeT2Pm2Iw/PUpm7ZeFT+Ddbxl4Qn8od3MspwkFADgCYdDdM+XDndwApmxnVhOWr3l+WnPg5ms4zcqva2v9AJAkx9P7VeVrEZn3RDBHt/IVNxeAGX0LML+PGPr5HUcAc=
  - MAIL_PASSWORD: AgCzzndqBjY2iJ746hwzJXiJ5vMOU43ubyIOICoV1k4VUZq/sdblc5t5jcYPIWwa2VC1NzRp5Xvaqq0PjcTjr/RDAwyVZ+9lwtJBI2E8/M9Zd99MjihcY1zVjB0uKRwIvDiIKieZ6WQfPiE4lPbGX7cHQzJTu8wItYZ246IzbKvZXi2oGANdWK6AOWb1M8lC2DTo7UJ6N+AjQZblk0T/Imw3kpnRTi3Z1pZOl6BbBNBHBx1zzGX2Bgk7uic1CoUNR0Np+rEF8Ji7lmBFczosjSpbf64jSLm6E8Uy+89HhijQgFqCqaxU0DMlNe617pmHQVWqI6BfWGvEJ+mMk0L7p9cRNx8NNlKVUAnu8zkRdZjp5ccbnIhjMEtGznS4+Z3Qcw8mHYaD3aaY30Wy/4RpfofUttHGp7YObS8IIEMBVF9otZkmFFjM2cFrZ4IG2Zzuat+T+hIsRv+YnD2rOOw/Q3PvvtvRdrGi5UrhdMDrfjO+SQfVDd3Bu+JUGzAWBkWR67ZXvpwZDTUzcFgUYrqfsDAYj4FEycvTfbVKRy65GxLdJWZxD1FvticZphWaWy+z3wuhbLjWacu+GHV86fl8q1dy+3JNwlAa2F1nF3wIVq3Q+VwZHC7RB2u+juJt0YsGc+3myFyYojIwq43xojDP3NztuQQOr73EpUUUrejA4DBWfwYuG5XVlb9OvhR7es9aPbJV4manNwWOjfiuPiOGpaAgxQWIZvQskGsW68U0jIpQnW1Fjm95D6BEMztLBQ==
  - OIDC_SECRET: AgCaZJ++Yboi5dJae3pqoJeY5TuVfwJi3iMou7v+EzANGVeKqeNrXPKCW/vhoGoLpCNX6BgY4nqJpYBluv70INotAJXf5q1jroaQ/mQk51gBwveKAbLnoRLfTzsYGXuPsb8XIDbm+wD7UssZtYq92hYPBV4akOCZBit90ZcQ+eQdFs8kUayNSOcDe7oNacYnmVaZLnOWm4RQOzMuNEi6cKJhKkNCtMWjFE99wX6yRNucUIteYkUKlnlY/U7zR+Y3xe8XP675WJzmm4CQJQURAEmwET34tESOaV/n1ABdHUC2PWlXRb5wt5JzyzU1dppw4mnfG9blzzdR4Hl8an/k08BhvXVVaX/53Y4oYEOkTiKKcXKcsVcHXwvO6YmZmopshEHoULgTifkcSkPpEtwF1XgmWqrgtsKepDhaer15xsEN1pVDLRAoTVmRD10g+i09wQ0vMvGpFzwllHaRVEZMRd/hgbE6ffDnEZNFW5+k0xdPJd0Qk+sXQrunh2iCYVP6Nnd3TgtzevydVt6s1qErh2TKUY0rmRkhigQkEZrCKXQahiVzFgNh+uhlUpVvEniou5D6Yuu8V93JjboPvy3jsI5g60mSoczLqWMBOjIhCJaBwMVlbxvxsNiXDoe758f+vrvXMohbUo4xN1ANxESGwkVlIjTQYTsgCVShggwXr2qm0ic+fPRw2lhpi4ehJX/tTAkuIHsiNXK182PpxhHQP2RjJJTY09GkZ7C1UyMXYJB+Rg==

configMaps:
  - name: config
    mountPath: /config
    subPath: config.yaml
    content:
      backup:
        database:
          cronExpression: 0 2 * * *
          enabled: true
          keepLastAmount: 14
      ffmpeg:
        accel: disabled
        accelDecode: false
        acceptedAudioCodecs:
          - aac
          - mp3
          - libopus
          - pcm_s16le
        acceptedContainers:
          - mov
          - ogg
          - webm
        acceptedVideoCodecs:
          - h264
        bframes: -1
        cqMode: auto
        crf: 23
        gopSize: 0
        maxBitrate: '0'
        preferredHwDevice: auto
        preset: medium
        refs: 0
        targetAudioCodec: aac
        targetResolution: '720'
        targetVideoCodec: h264
        temporalAQ: false
        threads: 0
        tonemap: hable
        transcode: required
        twoPass: false
      image:
        colorspace: p3
        extractEmbedded: false
        fullsize:
          enabled: false
          format: jpeg
          quality: 80
        preview:
          format: jpeg
          quality: 80
          size: 1440
        thumbnail:
          format: webp
          quality: 80
          size: 250
      job:
        backgroundTask:
          concurrency: 5
        faceDetection:
          concurrency: 3
        library:
          concurrency: 5
        metadataExtraction:
          concurrency: 5
        migration:
          concurrency: 5
        notifications:
          concurrency: 5
        ocr:
          concurrency: 5
        search:
          concurrency: 5
        sidecar:
          concurrency: 5
        smartSearch:
          concurrency: 5
        thumbnailGeneration:
          concurrency: 5
        videoConversion:
          concurrency: 1
      library:
        scan:
          enabled: true
          cronExpression: 0 0 * * *
        watch:
          enabled: false
      logging:
        enabled: true
        level: log
      machineLearning:
        availabilityChecks:
          enabled: true
          interval: 30000
          timeout: 2000
        clip:
          enabled: true
          modelName: XLM-Roberta-Large-ViT-H-14__frozen_laion5b_s13b_b90k
        duplicateDetection:
          enabled: true
          maxDistance: 0.01
        enabled: true
        facialRecognition:
          enabled: true
          maxDistance: 0.5
          minFaces: 5
          minScore: 0.7
          modelName: buffalo_l
        ocr:
          enabled: true
          maxResolution: 736
          minDetectionScore: 0.5
          minRecognitionScore: 0.8
          modelName: PP-OCRv5_server
        urls:
          - http://immich-machine-learning:3003
      map:
        enabled: true
        darkStyle: https://tiles.immich.cloud/v1/style/dark.json
        lightStyle: https://tiles.immich.cloud/v1/style/light.json
      metadata:
        faces:
          import: false
      newVersionCheck:
        enabled: false
      nightlyTasks:
        startTime: '02:00'
        clusterNewFaces: true
        databaseCleanup: true
        generateMemories: true
        missingThumbnails: true
        syncQuotaUsage: true
      notifications:
        smtp:
          enabled: true
          from: $MAIL_FROM
          replyTo: ''
          transport:
            host: smtp.migadu.com
            ignoreCert: false
            password: $MAIL_PASSWORD
            port: 587
            secure: false
            username: $MAIL_USERNAME
      oauth:
        autoLaunch: false
        autoRegister: true
        buttonText: Login with Pocket ID
        clientId: ddf9d1f8-ae17-4a24-91c0-f1942a7f78d0
        clientSecret: $OIDC_SECRET
        defaultStorageQuota:
        enabled: true
        issuerUrl: https://id.wagner.gg/.well-known/openid-configuration
        mobileOverrideEnabled: false
        mobileRedirectUri: ''
        profileSigningAlgorithm: none
        roleClaim: immich_role
        scope: openid email profile
        signingAlgorithm: RS256
        storageLabelClaim: preferred_username
        storageQuotaClaim: immich_quota
        timeout: 30000
        tokenEndpointAuthMethod: client_secret_post
      passwordLogin:
        enabled: false
      reverseGeocoding:
        enabled: true
      server:
        externalDomain: https://immich.wagner.gg
        loginPageMessage: ''
        publicUsers: true
      storageTemplate:
        enabled: true
        hashVerificationEnabled: true
        template: "{{album}}/{{filename}}"
      templates:
        email:
          albumInviteTemplate: ''
          albumUpdateTemplate: ''
          welcomeTemplate: ''
      theme:
        customCss: ''
      trash:
        enabled: true
        days: 30
      user:
        deleteDelay: 7
