image:
  repository: "plexinc/pms-docker"
  tag: "1.43.0.10467-2b1ba6e69@sha256:d38767ec3b948e860bcf1abfe16512bd638e6ac01230f5b65b64e2ef09052267"

ports:
  - name: main
    containerPort: 32400
    hostPort: 32400
  - name: roku
    containerPort: 8324
    hostPort: 8324
  - name: gdm-32410
    containerPort: 32410
    hostPort: 32410
    protocol: UDP
  - name: gdm-32412
    containerPort: 32412
    hostPort: 32412
    protocol: UDP
  - name: gdm-32413
    containerPort: 32413
    hostPort: 32413
    protocol: UDP
  - name: gdm-32414
    containerPort: 32414
    hostPort: 32414
    protocol: UDP

health:
  path: /identity
  type: HTTPS

envs:
  - PLEX_UID: 5000
  - PLEX_GID: 5000
  - ADVERTISE_IP: https://192.168.0.5:32400/
  - ALLOWED_NETWORKS: 192.168.0.0/16,10.244.0.0/16,10.96.0.0/12

resources:
  limits:
    gpu.intel.com/i915: "1"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/plex
    containerPath: /config
  - name: transcode
    hostPath: /srv/nvme/scrap-data/plex-transcode-cache
    containerPath: /transcode
  - name: multimedia
    hostPath: /srv/hdd/multimedia
    containerPath: /srv/multimedia
    readOnly: true
  - name: pictures
    hostPath: /srv/nvme/pictures
    containerPath: /srv/pictures
    readOnly: true
  - name: music
    hostPath: /srv/nvme/music
    containerPath: /srv/music
    readOnly: true
