image:
  repository: "stashapp/stash"
  tag: "v0.30.1@sha256:4cac18873ea052f03510602d9e1a9b29e6241a393a111479010292b7a1e28a5e"

ports:
  - name: main
    containerPort: 9999

gateway:
  host: stash.wagner.gg

resources:
  limits:
    gpu.intel.com/i915: "1"

homepage:
  name: Stash
  group: Media
  description: Other stuff...
  icon: stash.svg
  weight: 50

envs:
  - STASH_STASH: /data/
  - STASH_CACHE: /cache/
  - STASH_GENERATED: /generated/

hostPaths:
- name: database
  hostPath: /srv/nvme/container-data/stash
  containerPath: /root/.stash
- name: blobs
  hostPath: /srv/nvme/scrap-data/stash-blobs
  containerPath: /blobs
- name: generated
  hostPath: /srv/nvme/scrap-data/stash-generated
  containerPath: /generated
- name: cache
  hostPath: /srv/nvme/scrap-data/stash-cache
  containerPath: /cache
- name: data
  hostPath: /srv/hdd/pp
  containerPath: /data
