image:
  repository: "ghcr.io/tautulli/tautulli"
  tag: "v2.16.1@sha256:5f3603345e3334bd30aadf9e1fa9b0acb401b5225cc42e9b7a3dbf660532fbd9"

ports:
  - name: main
    containerPort: 8181

gateway:
  host: tautulli.wagner.gg

homepage:
  name: Tautulli
  group: Media
  description: Plex Statistic Board
  icon: tautulli.svg
  weight: 25

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/tautulli
    containerPath: /config
