apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ops

resources:
- base/namespace.yaml

helmCharts:
- name: argo-cd
  version: 7.8.2
  releaseName: argocd
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml
  namespace: ops
