configs:
  cm:
    kustomize.buildOptions: --enable-helm

global:
  domain: argocd.wagner.gg

server:
  ingress:
    enabled: true
    ingressClassName: nginx-private
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      nginx.ingress.kubernetes.io/backend-protocol: HTTPS
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: Server
      gethomepage.dev/name: ArgoCD
      gethomepage.dev/description: Kubernetes Deployments
      gethomepage.dev/icon: argocd.svg
      gethomepage.dev/weight: "1"
    extraTls:
    - secretName: argocd.wagner.gg
      hosts:
      - argocd.wagner.gg
