apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - base/exitnode.yaml

helmCharts:
  - repo: oci://ghcr.io/fyralabs/chisel-operator
    name: chisel-operator
    version: v0.7.1
    includeCRDs: true
    releaseName: chisel-operator
    valuesFile: values.yaml
    namespace: network
