image:
  repository: "ghcr.io/syncthing/syncthing"
  tag: "2.0.14@sha256:6d2ab058383b533e045cf2c32fc4c6bbe87c612c92bc2aca9f552fb099b2e123"

ports:
  - name: main
    containerPort: 8384
  - name: tcp-transfer
    containerPort: 22000
    hostPort: 22000
    protocol: TCP
  - name: udp-transfer
    containerPort: 22000
    hostPort: 22000
    protocol: UDP
  - name: discovery
    containerPort: 21027
    hostPort: 21027
    protocol: UDP

gateway:
  host: syncthing.wagner.gg

envs:
  - PUID: 5000
  - PGID: 5000

homepage:
  name: Syncthing
  group: Cloud
  description: Syncing files
  icon: syncthing.svg
  weight: 40

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/syncthing
    containerPath: /var/syncthing
  - name: data
    hostPath: /srv/nvme/niklas/Sync
    containerPath: /data/sync
  - name: pictures
    hostPath: /srv/nvme/pictures
    containerPath: /data/pictures
