image:
  repository: "ghcr.io/home-assistant/home-assistant"
  tag: "2024.9.3@sha256:1ad29727bdfe3f6422c231f3eb269a90eabb289ed00583ca423547b039a2c24f"

hostPaths:
- name: data
  hostPath: /srv/nvme/container-data/home-assistant/config
  containerPath: /config

ports: 
- name: main
  containerPort: 8123

ingress:
  host: ha.wagner.gg
  public: true
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"

homepage:
  name: Home Assistant
  group: Smart Home
  description: Smart Home Management
  icon: home-assistant.svg
  weight: 50

securityContext:
  capabilities:
    add:
    - NET_ADMIN
    - NET_RAW
    - NET_BROADCAST

hostNetwork: true

envs:
- RECORDER_DB_URL: "mysql://$(TEMPLATE_DB_USERNAME):$(TEMPLATE_DB_PASSWORD)@$(TEMPLATE_DB_HOST):$(TEMPLATE_DB_PORT)/$(TEMPLATE_DB_DATABASE)?charset=utf8mb4"

database:
  enabled: true
  hostPath: /srv/nvme/container-data/home-assistant/database
  rootPassword: AgBKVFR+jgTAgHIMHS+nb+EZFoYmjUs9oaQnefKLCB1Vfj46ShVtJ0mzGi2JnErjJSPqg/uxG65xOjsljkshTqypgwUQp4Zvq5jd/rwfDieh+Z23yh6fE+ihdLde081zhZkmK5bf7WH+T0G3Pbt1KM6W2jW7tb9a0gQx8c0QkytMCY7TdHFeUvnbKlYz+eodRYwJvvn6EkL/+eCj/gDeMarhe32NVQa3tcGe4RIP6orwEYoiHz9P3lUpBy2dhw6rpqWwhlecK5PSsIstf15ZSJiTMAqxctyb9M4F6XReAesmc/1UnMopaWu6ne0nDHZsWcXJKcTdEMWPiKa1/0txMLq9RJuibtVy6NjN53aIHXAkYmIilZhpo1qrejt6oYqYjkDD4DGgEUzbxn2u+JV92Vh8oQjFogCt6mpuc2StZQZnDk96qev+BUzKfoXOHyInpreTAlUcVA42kivi7jcB1UXTlENuNPeboHXKzvj3FZLCjfHhpOYeITFOSVmbifxfVcQiCBzKtmQXMxFTxgckdLDMW616du0aVi9MCSOpgprbFAEczO8zTfXTugOytAxiOc6nH+9fSI9DrOWO4LfTL+9lhk0sZIMnrA78EghT2E0qaOvFnfsXFZrqbu02IMsbDUdYafMZ4pGdl3b46eBKBFhx6cagY9LcrSo9KliBcVeF7Ka+L0FEmRnXmqKgLYNWFHk2cmYOQyX23zfA80PCt4t8kAegqFxc1Gb1sTQooA1mQZUpSOnkfFUIRN9SAFfNfr2RCdZB6tQUV0GBAxQgFUI6
  userPassword: AgB2HxHQCmlGCZF6V6PtYbDTPNzvxf2pvMA3rWG5nxT7dbmeAfZ1ND0Je2KtVY4tJon6BRvE5dCOwLc8qsBESGt3dh4GSKRYjKf26IoF9UUS4fAox3NQIKS5RPPrFIaG+e70jRYBXDuB1PQuP5b22RH0nYYL99+fieBtgNfTJ3ImbMBHQuIcFbufF6tpK1Rxls8K15NHhzl0s0Xyz/xOUnvFd0N7F+JG+qehhWvqCh2RUGugF4gDNu6E5sr1lRl8l9nHUd9YZhVE661OrMRGtcpyzik+Sb2mcLrmgIZxQ85452jL8ByzMTY8aXr7nvmXTe6uTrCpMKPWAE4KssvasIHc9HJMIY+QZ5CINczEaApbaf2LyICtb4yaXgbQcJ+TxG92JV3w3ds9ZhBZMJ1ZeENfZcC56fTA/mputPPj+AEqWM685PjzHzL883bATtliCgo9SUvtULLXrNBPk97T2zZieYNQtO6XhmeATqQ1rX3/euvIdPRqJj56UJvabKeDOfJNwHrEzo0BG6U3Tt20XYhrhDEHAbf5Q3wgsIXYpfMWTWdjN2h1N7G8FPju0a/1Wt+NcUS8E+vM382hGhS6TmlO4FpHNV4HO+agZcloQRX9VjS9pkc0X1Sc9moPaLCtDlKo7iKwFxRzo8r+wkRhcP1Ep67NydbqNZxwd+yRTyRzZ9C51UDUL7ETW3SJeVDU28fOopo0ihPvnV3mV2mUkxMrrT0/Oq+cUJLJqkSxg0kEg1WzVc4RVbqhTWPezLcjRDnuWn183CLL5D25QwghDzmn
