policy: sync
registry: txt
txtPrefix: _external-dns-
txtOwnerId: homelab

extraArgs: 
- "--ingress-class=nginx-public"

provider:
  name: cloudflare

sources:
  - service
  - ingress
  - crd

env:
- name: CF_API_EMAIL
  valueFrom:
    secretKeyRef:
      name: external-dns-cloudflare
      key: email
- name: CF_API_TOKEN
  valueFrom:
    secretKeyRef:
      name: external-dns-cloudflare
      key: apitoken
