image:
  repository: "ghcr.io/curl/curl-container/curl-multi"
  tag: "8.18.0@sha256:28370e9b031edbc4964bbdfef46ba34612b5f2e1c0e0e9010457c4d49ca8e9e4"

schedule: "0 3 * * *"

args:
  - -v
  - --silent
  - --remote-header-name
  - --remote-name
  - --output-dir
  - /data
  - https://darekkay.com/service/trakt/trakt.php?username=Skaronator

hostPaths:
  - name: data
    hostPath: /srv/hdd/backup/Trakt
    containerPath: /data
