image:
  repository: "ghcr.io/curl/curl-container/curl-multi"
  tag: "8.17.0@sha256:b0d9e34ae5ac3fac7efeb5885094b56b9949efa814662d53392f1414108bfa84"

schedule: "0 3 * * *"

args:
  - -v
  - --silent
  - --remote-header-name
  - --remote-name
  - --output-dir
  - /data
  - https://darekkay.com/service/trakt/trakt.php?username=Skaronator

hostPaths:
  - name: data
    hostPath: /srv/hdd/backup/Trakt
    containerPath: /data
