apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - base/gpu-device.yaml

helmCharts:
  - repo: https://intel.github.io/helm-charts
    name: intel-device-plugins-operator
    version: 0.34.0
    includeCRDs: true
    releaseName: intel-device-plugins-operator
    valuesFile: values.yaml
