policy: sync
registry: noop
interval: 15s

extraArgs:
  - --gateway-name=private

sources:
  - gateway-httproute
  - crd

triggerLoopOnEvent: true

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/muhlba91/external-dns-provider-adguard
      tag: v11.0.0@sha256:7bc1d6b3d4590f8fbb6f8452d98aecb47b4ea0a19c09ce44a6f2f0a4c2b162d4
    env:
      - name: ADGUARD_URL
        value: http://192.168.0.2
      - name: ADGUARD_USER
        valueFrom:
          secretKeyRef:
            name: external-dns-adguard-home
            key: username
      - name: ADGUARD_PASSWORD
        valueFrom:
          secretKeyRef:
            name: external-dns-adguard-home
            key: password
