image:
  repository: "ghcr.io/justarchinet/archisteamfarm"
  tag: "6.3.1.6@sha256:f64799044a7e0abb4fc821a21d5479d09e848843ca8e61268f2a340948dcc1c4"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/archisteamfarm-config
    containerPath: /app/config
  - name: plugins
    hostPath: /srv/nvme/container-data/archisteamfarm-plugins
    containerPath: /app/plugins

ports:
  - name: main
    containerPort: 1242

gateway:
  host: asf.wagner.gg

homepage:
  name: ArchiSteamFarm
  group: Cloud
  description: Automated Steam Card Farming
  icon: archisteamfarm.png
  weight: 50
