image:
  repository: "ghcr.io/justarchinet/archisteamfarm"
  tag: "6.3.0.1@sha256:7be11e484331fcbf7561a55eeee76054f9fe90372fb36b7f69d81cef58026153"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/archisteamfarm-config
    containerPath: /app/config
  - name: plugins
    hostPath: /srv/nvme/container-data/archisteamfarm-plugins
    containerPath: /app/plugins

ports:
  - name: main
    containerPort: 1242

gateway:
  host: asf.wagner.gg

homepage:
  name: ArchiSteamFarm
  group: Cloud
  description: Automated Steam Card Farming
  icon: archisteamfarm.png
  weight: 50
