image:
  repository: "ghcr.io/justarchinet/archisteamfarm"
  tag: "6.3.3.3@sha256:7e343ba9383f3c40149175a8802f4d92a1419faf9dc10b9fe7bea3fca5158d0c"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/archisteamfarm-config
    containerPath: /app/config
  - name: plugins
    hostPath: /srv/nvme/container-data/archisteamfarm-plugins
    containerPath: /app/plugins

ports:
  - name: main
    containerPort: 1242

gateway:
  host: asf.wagner.gg

homepage:
  name: ArchiSteamFarm
  group: Cloud
  description: Automated Steam Card Farming
  icon: archisteamfarm.png
  weight: 50
