image:
  repository: "ghcr.io/justarchinet/archisteamfarm"
  tag: "6.3.2.2@sha256:828803ef64347fb8b92f6506796ad1d4dd764287a7b46a4e0326165f7f4101bb"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/archisteamfarm-config
    containerPath: /app/config
  - name: plugins
    hostPath: /srv/nvme/container-data/archisteamfarm-plugins
    containerPath: /app/plugins

ports:
  - name: main
    containerPort: 1242

gateway:
  host: asf.wagner.gg

homepage:
  name: ArchiSteamFarm
  group: Cloud
  description: Automated Steam Card Farming
  icon: archisteamfarm.png
  weight: 50
