image:
  repository: "ghcr.io/justarchinet/archisteamfarm"
  tag: "6.3.3.1@sha256:b02ecc9e4e44bba25f1df63c5466b4a10cb859049849114d5befc7c7ad0b1bbe"

hostPaths:
  - name: config
    hostPath: /srv/nvme/container-data/archisteamfarm-config
    containerPath: /app/config
  - name: plugins
    hostPath: /srv/nvme/container-data/archisteamfarm-plugins
    containerPath: /app/plugins

ports:
  - name: main
    containerPort: 1242

gateway:
  host: asf.wagner.gg

homepage:
  name: ArchiSteamFarm
  group: Cloud
  description: Automated Steam Card Farming
  icon: archisteamfarm.png
  weight: 50
