image:
  repository: "ghcr.io/justarchinet/archisteamfarm"
  tag: "6.2.3.1@sha256:a46884622171be0e727e0b4a7757801ff9283c2d3c2503719341bb27ecad1ad2"

hostPaths:
  - name: data
    hostPath: /srv/nvme/container-data/archisteamfarm
    containerPath: /app/config

ports:
  - name: main
    containerPort: 1242

gateway:
  host: asf.wagner.gg

emptyDirs:
  - name: plugins
    containerPath: /app/config/plugins/FreePackages

initContainers:
  - name: plugins
    image: ghcr.io/curl/curl-container/curl-multi:8.17.0@sha256:f6710cb71617689b9e3522bde531a1a59f3d39e848be4cb450c9f87c5d15c3a5
    envs:
      - key: PLUGIN_URL
        value: https://github.com/Citrinate/FreePackages/releases/download/1.6.1.0/FreePackages.zip
    command:
      - sh
      - -c
      - |
        curl -L -o /tmp/FreePackages.zip ${PLUGIN_URL}
        unzip /tmp/FreePackages.zip -d /plugins
    volumeMounts:
      - name: emptydir-plugins
        mountPath: /plugins


homepage:
  name: ArchiSteamFarm
  group: Cloud
  description: Automated Steam Card Farming
  icon: archisteamfarm.png
  weight: 50
