apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - base/httproute.yaml

helmGlobals:
  chartHome: ../../../helm-charts

helmCharts:
  - name: generic-service
    releaseName: minio
    valuesFile: values.yaml
    namespace: storage
