apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- repo: https://kubernetes.github.io/ingress-nginx
  name: ingress-nginx
  version: 4.12.3
  releaseName: nginx-private
  valuesFile: values.yaml
  namespace: network
