image:
  repository: "ghcr.io/sethforprivacy/simple-monerod"
  tag: "v0.18.4.5@sha256:3760d68b2825174e3db504cbea06e9dd06262a2e4593fb13940da3f9ddaa0685"

args:
  - --rpc-restricted-bind-ip=0.0.0.0
  - --rpc-restricted-bind-port=18089
  - --no-igd
  - --no-zmq

hostPaths:
  - name: data
    hostPath: /srv/nvme/scrap-data/monero
    containerPath: /home/monero/.bitmonero

ports:
  - name: main
    containerPort: 18089
  - name: p2p
    containerPort: 18080

gateway:
  host: monero.wagner.gg

health:
  path: /get_height

securityContext:
  runAsUser: 5000
