image:
  repository: "restic/restic"
  pullPolicy: IfNotPresent
  tag: "0.18.0@sha256:4cf4a61ef9786f4de53e9de8c8f5c040f33830eb0a10bf3d614410ee2fcb6120"

serviceAccount:
  annotations: {}

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

terminationGracePeriodSeconds: 30

args: []
command: []

envs: []

secretEnvs: []

concurrencyPolicy: Forbid
parallelism: 1
suspend: false
successfulJobsHistoryLimit: 1
failedJobsHistoryLimit: 2
restartPolicy: OnFailure
backoffLimit: 1

restic:
  runInit: false
  uploadSpeed: 4000
  path:
  exclude: []
  iexclude: []

keep:
  daily: 30
  monthly: 3

schedule:
  backup: ""
  cleanup: ""
