image:
  repository: "restic/restic"
  pullPolicy: IfNotPresent
  tag: "0.18.1@sha256:39d9072fb5651c80d75c7a811612eb60b4c06b32ffe87c2e9f3c7222e1797e76"

terminationGracePeriodSeconds: 60

concurrencyPolicy: Forbid
parallelism: 1
successfulJobsHistoryLimit: 1
failedJobsHistoryLimit: 2
restartPolicy: OnFailure
backoffLimit: 1

restic:
  mode: backup # init or restore
  uploadSpeed: 3000
  path: ""
  exclude: []
  iexclude: []

keep:
  daily: 30
  monthly: 3

schedule:
  backup: ""
  cleanup: ""
