apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - base/configmap.yaml
  - base/httproute.yaml

helmCharts:
  - name: argo-cd
    version: 9.4.0
    releaseName: argocd
    repo: https://argoproj.github.io/argo-helm
    valuesFile: values.yaml
    namespace: argocd
