image:
  repository: "dgtlmoon/sockpuppetbrowser"
  tag: "latest@sha256:1f5d0ecec4928bf1df33ade212ac80ae8e14a7d07bb51903ce96af73baeb00d2"

envs:
- SCREEN_WIDTH: 1920
- SCREEN_HEIGHT: 1024
- SCREEN_DEPTH: 16
- MAX_CONCURRENT_CHROME_PROCESSES: 10

ports: 
- name: main
  containerPort: 8080
- name: websocket
  containerPort: 8080

health:
  path: /stats

securityContext:
  capabilities:
    add:
      - SYS_ADMIN
