image:
  repository: "ghcr.io/dgtlmoon/changedetection.io"
  tag: "0.47.00@sha256:8384f62f2f487771b35be4746ec983f8d38238ff3ae13348de744e8e8d1a1bda"

hostPaths:
- name: config
  hostPath: /srv/nvme/container-data/atuin/config
  containerPath: /datastore

ports: 
- name: main
  containerPort: 5000

ingress:
  host: change.wagner.gg

homepage:
  name: ChangeDetection
  group: Cloud
  description: Website Change Detection
  icon: changedetection-io.png
  weight: 55
