apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: sealed-secrets
    version: 2.18.1
    releaseName: sealed-secrets
    repo: https://bitnami-labs.github.io/sealed-secrets
    includeCRDs: true
    valuesFile: values.yaml
