name: Verify Helm Charts
on:
  push:

jobs:
  verify-charts:
    runs-on: ubuntu-24.04
    container: ghcr.io/skaronator/devops-toolbox:v74
    steps:
    - name: Checkout repository
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
    - name: Show versions
      run: |
        helm version
        kubeconform -v
        kubectl version --client
    - name: Verify everything
      run: |
        for dir in *; do
            # exclude files and dirs that start with a . (dot)
            if [ -d "$dir" ] && ! echo "$dir" | grep -q '/\.[^.]/'; then
                echo "Processing directory: $dir"
                for chart in "$dir"/*; do
                    echo "Processing chart: $chart"
                    kubectl kustomize "$chart" --enable-helm | kubeconform -ignore-missing-schemas -schema-location default -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' -strict -summary
                done
            fi
        done
