image:
  repository: "docker.io/openspeedtest/latest"
  tag: "v2.0.5@sha256:bbddd8eda80cc4deb2a5702efd0acd826137650ba0bfcc6720f896c74bca02ee"

ports: 
- name: main
  containerPort: 3000

ingress:
  host: speedtest.wagner.gg
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 64m

homepage:
  name: Speedtest
  group: Cloud
  description: Local Speedtest
  icon: openspeedtest.png
  weight: 55

envs:
- MODE: standalone
